@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}




*{
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: grey;
    min-height: 100vh;
}

header{
    text-align: center;
    background-color: black;
    color: whitesmoke
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
     font-size: 3vw;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2em;
    font-family: "Sriracha", cursive;
}

section > p {
    padding-bottom: 2em;

}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: inset 10px 5px 15px rgba(0, 0, 0, 0.308);
    background-size: cover;
    background-attachment: fixed;
       
}

section.imagem > p{
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    
}

section#img01 {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-size: cover;
    background-position: center;
}

section#img02 {
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
    background-position: center left;
}

footer{
    background-color: black;
    text-align: center;
    padding: 80px;
}

